{% extends "layout.html" %}

{% block content %}
<h2>Edit People and Gifts</h2>
<p>This is where you edit people and their gifts.</p>

<section id="todos">
    <header>
        <h2>Editing {{ name }}</h2>
    </header>
</section>

<div>
<form action="{{ url_for('add_person') }}" method="post">
    <dl>
        <dt>
            <label for="name">Enter the Name:</label>
        </dt>
        <dd>
            <input type="text" name="name" placeholder="Name" size="50">
        </dd>

        <dt>
            <label for="gifts">Enter your gift ideas, one line at a time:</label>
        </dt>
        <dd>
            <textarea name="gifts" placeholder="Add your list here" rows="10" 
            cols="50"></textarea>
        </dd>
    </dl>
    <fieldset>
        <input type="submit" value="Save">
        <a href="{{ url_for('home') }}">Cancel</a>
    </fieldset>
</form>
</div>
{% endblock %}